// common style

@font-face
    font-family 'DIN Alternate'
    src url('~@/assets/DINAlternate-Bold.ttf') format('truetype')

// reset a
a
    text-decoration none
a:link 
    text-decoration none
a:visited
    text-decoration none
a:active
    text-decoration none