// color

light-blue = #E9F3FC // 亮蓝色
powder-blue = #80ADD3 // 浅灰蓝色
plae-blue = #5B8EBB // 灰蓝色
dark-grey-blue = #1E5079 // 深灰蓝色
dark-blue = #0A2B47// 深蓝色 移动端背景色
the-light-blue = #8FC0FD // 浅蓝色
blue = #60A3F5 // 蓝色
dark-deep-blue = #5293E3 //暗蓝色
focus-color = #80ADD3; // focus 颜色

light-grey = #FAFBFB // 亮灰色
grey = #DBDBDB // 灰色
dark-grey = #F0F0F0 // 深灰色

white = #FFF // 白色
green = #39DD1E // 绿色
bytedance-red = #F95455 // 头条红
red = bytedance-red

blue-green = #9DBDD9 // 蓝绿色
black = #000 // 黑色
