@import './color.styl'
@import './font.styl'

// crmapp-switch
switch-width = 102px
switch-height = 62px
switch-border = 1px
switch-border-radius = 29px
switch-background-color = #DFDFDF
switch-background-color-before = #FDFDFD
switch-checked-background-color = #4CD964


// crmapp-toast
toast-width = 420px
toast-height = 116px
toast-height-half = -210px
toast-top = 50%
toast-left = 50%
toast-background = rgba(22, 26, 30, 0.7)
toast-radius = 8px
toast-z-index = 7999
toast-font-size = 32px
toast-content-top-padding = 35px
toast-content-left-padding = 20px

// crmapp-tabbar
tabbar-height = 98px
tabbar-background-color = white
tabbar-z-index = 999
tabbar-font-size = 22px
tabbar-font-color = rgba(0, 0, 0, 0.44)
tabbar-font-active-color = #1090f4
tabbar-icon-width = 54px
tabbar-icon-height = 54px
tabbar-border = 1px solid rgba(0,0,0,.12)

// crmapp-tab
tab-button-width = 216px
tab-height = 98px
tab-button-height = 60px
tab-font-size = 30px
tab-button-font-size = 28px
tab-font-active-color = #1090F4
tab-font-button-active-color = #008bfa
tab-font-color = rgba(0,0,0,0.44)
tab-border-color = rgba(0,0,0,0.14)
tab-border-active-color = #4199ff

// crmapp-header
header-background-color = white
header-background-whitetheme-color = #0a2b47
header-title-height = 50px
header-title-font-size = 36px
header-title-color = rgba(0,0,0,.78)
header-arrow-color = #999
header-padding = 19px
header-border = 1px solid rgba(0,0,0,.12)

// crmapp-cell
cell-height = 146px
cell-height-safe = 98px
cell-font-color = rgba(0,0,0,0.78)
cell-label-color = rgba(0,0,0,0.44)
cell-border-color =  rgba(0,0,0,0.34)
cell-value-color = #9b9b9b
cell-font-title-size = 30px
cell-font-label-size = 28px

// crmapp-checklist
checklist-height = 98px
checklist-title-color = rgba(0, 0, 0, 0.78)
checklist-title-font-size = 34px
checklist-title-font-weight = 500
checklist-core-active = #1090f4
checklist-core-border = rgba(0, 0, 0, 0.44)

// crmapp-checkbutton
checkbutton-title-color = rgba(0, 0, 0, 0.78)
checkbutton-title-font-size = 34px
checkbutton-title-font-weight = 500
checkbutton-content-font-size = 24px

// crmapp-tag-group
tag-group-title-color = rgba(0, 0, 0, 0.78)
tag-group-title-font-size = 28px
tag-group-title-bold-font-size = 34px
tag-group-title-font-weight = 500
tag-group-content-font-size = 28px

// crmapp-confirm
dialog-mask = #0a131b
dialog-width = 80%

// crmapp-top-label
top-label-height = 64px
top-label-font-color = rgba(0, 0, 0, 0.44)
top-label-font-size = 28px
top-label-background = rgba(0, 0, 0, 0.04)